body {
	text-align: center;
}

h1 {

}

#playerSearch {
	display: block;
	text-align: center;
}

#profileObject {
	width: 400px; 
	height: 555px;
	overflow:auto;
	border:5px ridge blue;
	border-radius: 5% 0% 0% 5%;
}

#profileViewer {
	float: left;
}

#playerFriends {
	float: left;
	width: 400px;
}

#playerGames {
	float: left;
	width: 400px;
}

#playerInfo {
	margin-right: 15px;
	float: left;
	width: 400px;
	border: 5px ridge blue;
	border-radius: 5%;
}

#searchResults {
	display: inline-block;
	text-align: center;	
}